@tailwind base;
@tailwind components;
@tailwind utilities;

header {
    padding: 14px 80px 26px 80px;
    background-color: #6B3CC9;
}

nav {
    display: flex;
    align-items: center;
}

a {
    font-weight: 500;
}

.hero-section {
    font-weight: 700;
    height: 700px;
    background-image: url('/hero-bg.jpg');
}

.hero {
    top: 414px;
    left: 80px;
    background-image: linear-gradient(90deg, #4DCA79, #1CBDDD);
    padding: 24px 40px 32px 40px;
    width: 650px;
}

h2 {
    font-weight: 600;
    color: #6B3CC9;
}

.service-image-1 {
    margin-right: 108px;
}

.service-image-2 {
    margin-left: 108px;
}

.service-text {
    width: 542px;
}

.service-text p {

    font-weight: 400;
}

.menu {
    display: none;
}

.menu a {
    height: 28px;
}

.menu-icon {
    display: none;
}

button {
    font-weight: 700;
    background-color: #F28D35;
}

.faq {
    margin: 80px 297px;
}

.faq-item h3 {
    font-weight: 500;
}

.faq-item.open h3 {
    color: #6B3CC9;
}

.faq-item p {
    color: #6F6C90;
}

footer {
    padding: 40px 80px 20px 80px;
    background-color: #6B3CC9;
}

.footer-company {
    width: 413px;
}

footer h3 {
    font-weight: 600;
    font-size: 21px;
}

.footer-techs a,
.footer-services a {
    margin: 6px 0;
    display: block;
    font-size: 14px;
}

footer a {
    width: fit-content;
}

.footer-bottom {
    padding-top: 8px;
    margin: 0 auto;
    width: 630px;
}

@media screen and (max-width: 1200px) {
    .faq {
        margin: 80px 150px;
    }
}

@media screen and (max-width: 768px) {
    nav {
        display: none !important;
    }

    .menu-icon {
        display: block;
    }

    .hero {
        top: 525px;
        right: 0;
        left: 0;
        width: auto;
    }

    .hero-section {
        background-position: top;
        height: 448px;
    }

    .menu {
        display: block;
    }

    .service {
        margin: 400px 40px auto 40px;
    }

    .service-image-1 {
        width: 275px;
        margin-right: 20px;
    }

    .service-image-2 {
        width: 275px;
        margin-left: 20px;
    }

    .service-text {
        width: 393px;
    }

    .faq {
        margin: 80px 42px;
    }

    footer {
        height: auto;
    }

    .footer-services,
    .footer-techs {
        width: 100%;
        margin-top: 60px;
    }

    .footer-bottom {
        width: 400px;
    }
}

@media screen and (max-width: 480px) {
    header {
        padding: 26px 20px 26px 20px;
    }

    .hero {
        top: 400px;
        padding: 16px 24px 24px 24px;
    }

    .service {
        margin: initial 20px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    
    .service-2 {
        margin: 60px 20px;
        flex-direction: column-reverse;
    }

    .service-text {
        width: 335px;
    }

    footer {
        height: auto;
        padding: 40px 20px 20px 20px;
    }

    .footer-company,
    .footer-services,
    .footer-techs, .footer-bottom {
        width: 100%;
    }

    footer>div {
        flex-direction: column;
    }
}